.list-container {
    border: 1px solid black;
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    font-size: 16px;
  }
  
  tr:nth-of-type(odd) { 
    background: #ccc; 
  }
  
  td, th {
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px;
  }
  
  .add-button {
    background-color: white;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    nav .menu-bar {
      display: inline;
    }
  
    nav .nav-option {
      display: none;
    }
  
    table, thead, tbody, th, td, tr { 
            display: block; 
      }
  
    th { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
  
    tr { 
      border: 1px solid black; 
    }
  
    td { 
          border: none;
          border-bottom: 1px solid black; 
          position: relative;
          padding-left: 50%; 
      }
  
    td:before { 
          position: absolute;
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
      }
  
    td:nth-of-type(1):before { content: "Username:"; }
    td:nth-of-type(2):before { content: "Platform:"; }
    td:nth-of-type(3):before { content: "Game:"; }
    td:nth-of-type(4):before { content: "Region:"; }
    td:nth-of-type(5):before { content: "Playstyle:"; }
  }