.register-submit {
    cursor: pointer;
    background-color: rgb(95, 179, 0);
    border: rgb(95, 179, 0);
    border-radius: 3px;
    margin-top: 15px;
    padding: 10px 40px;
    font-family: 'Orbitron', sans-serif;
}